.App {
  text-align: center;
}

body {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #282c34;
  color: white;

}

button, input[type="submit"] {
  background-color: lightblue;

  color: black;
  padding: 7px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

label {
  display: block;
  font-size: 20px;
  margin: 8px;
}
h1 {
margin: auto;
}

a {
  color: lightblue;
}

#Title {
  font-size: 1em;
  margin: 10px;
  margin: 0 ;
  border-right: 1px solid lightblue;
  margin-bottom: 10px;
  margin-left: 10px;
  padding : 10px;
}

#wideTopbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid lightblue;
}

#Help {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 41%;
  padding-left:30px;
  border-left: 1px solid lightblue;
}
h2 {
  margin-top: 0;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ind-tooltip {
  position: relative;
  display: inline-block;
  padding-left: 5px;
}

.ind-tooltip .ind-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.ind-tooltip:hover .ind-tooltiptext {
  visibility: visible;
}
