#topbar {
    display: flex;
    flex-direction: row;
}

#maplegend {
    margin-left: 0.5em;
    flex-grow: 1;
}

#maplegendInner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#maplegendNumbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#maplegendGradient {
    max-height: 3vh;
    margin: 0.5em;
    overflow: hidden;
}