.slider {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  opacity: 1;
  height: 1px;
  cursor: pointer;
  width: 100%;
  }
  


  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url('../images/Money.png');
    background-size: 100%;
    width:20px;
    height: 20px;
  }
form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 ;
    padding: 10px;

    border-radius: 10px;
    background-color: #282c34;
    color: white;
    width: 20em;
    
  }

span {
    font-size: medium;
}

#Indicator {
    background-color: #282c34;
    color: white;
    margin: 8px;
}

#dropdown {
    background-color: #282c34;
    color: white;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    align-items: left;

}



  

  
  